/* ===== Global Styles ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #d6d6d6;
    color: #333;
  }
  
  #about h2,
  #projects h2,
  #experience h2,
  #skills h2,
  #contact h2 {
    width: 30%;
    margin: 0 auto;
    letter-spacing: 0.5rem;
    padding: 1rem 1rem;
    border: 0.5rem solid #000000;
  }

  /* ===== Navigation ===== */
  nav {
    padding: 2rem 2rem;
    text-align: right;
  }
  
  /* ===== Section Layout ===== */
  section {
    padding: 80px 20px;
    text-align: center;
  }

  /* ===== Section Headings ===== */
  h1, h2 {
    margin-bottom: 1rem;
  }
  
 /* =====  Header/Hero Section ===== */
  .hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color:#222; */
    background: linear-gradient(100deg, #d6d6d6 0%, #d6d6d6 47%, #000 47%, #000 100%);
}
  

  /* ===== Social Icons/ Navbar  ===== */
  .hero-section ul { 
    list-style-type: none;
    display: flex;
  }
  .nav-list {
    justify-content: flex-end;
    gap: 20px;
  
  }
  .nav-list li{
    background-color: #ffffff;
    padding: 0.5rem 1.4rem;
    border-radius: 30px;
  
  }

  .nav-list li:hover{
    border: 3px solid rgb(196,196,196);
  }

  .nav-list a{
    font-weight: bold;
    font-size: 1rem;
    
   
  }
  .hero-section a {
    text-decoration: none;
    color: #000000;
  }


  /* ===== Home ===== */
  
  #home{
   display: flex;
   flex-grow: 1;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-text{
    padding: 0 0 0 5vw;
    text-align: left;
  }
  .hero-text p{
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .hero-text h1{
    text-align: center;
    font-size: 4rem;
  }
  .hero-text h2{
    padding-left: 30px;
    color: rgb(144,144,144);
  }

 .social-list img {
    width: 50px;    
    height: auto; 
  }

  .social-icons{
    margin-top: 5rem;
  }
  .social-icons ul{
    gap: 40px;
  }
  .social-icons li{
     padding: 0.5rem 0.5rem 0.3rem 0.5rem;
     background-color: rgb(196,196,196);
     box-shadow: 0 4px 12px rgba(0,0,0,0.35);
     border-radius: 1%;
  }

  .hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
  }

  .circle-box {
    width: 30vw;           /* Set the size of the circle */
    max-width: 350px;
    aspect-ratio: 1;
    border-radius: 50%;     /* Makes the div a circle */
    overflow: hidden;       /* Hides overflow so image stays inside the circle */
    display: flex;          /* Optional: centers image if it's smaller */
    align-items: center;
    justify-content: center;
}
  .circle-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* Ensures image covers the circle */
    display: block;
  }

 /* ===== Current Role ===== */
 .current-role{
  background-color: rgb(29,29,29);
  color: #ffffff;
 }

.current-role-content h2{
  text-align: left;
  padding-left: 7vw;
  letter-spacing: 0.5rem;
}
.current-role-content p{
  padding: 0 5vw;
}


 /* ===== About ===== */
  .about-content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
  }

  .about-content p{
    width: 65%;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  
  /* ===== Footer ===== */
  footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  